@model Domain.ChangePassword
@{
    ViewData["Title"] = "ChangePassword";
}
<h2>Change Password</h2>

<form asp-action="ChangePassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UserId" />
    <div class="form-group">
        <label asp-for="OldPassword">Old Password:</label>
        <input type="password" id="OldPassword" name="OldPassword" class="form-control" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">New Password:</label>
        <input type="password" id="Password" name="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">Confirm New Password:</label>
        <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>
