@model Domain.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<link href="~/css/style.css" rel="stylesheet" />

<section class="login-section">
    <div class="main-container">
        <div class="login-grid">
            <div class="login-info">
                <h1>Welcome to BISLERIUM|BLOG</h1>
                <p>
                    BISLERIUM|BLOG is your ultimate destination for amazing blog content. Discover articles, tips, and insights on various topics. Join our community to share your thoughts and connect with like-minded people.
                </p>
                <p>
                    Log in to access personalized content, leave comments, and upvote your favorite posts. New to BISLERIUM|BLOG? Register now and start exploring!
                </p>
            </div>
            <div class="login-form-card">
<h1>Login</h1>
<hr />
        <form asp-action="Login">
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email:</label>
                <input asp-for="Email" type="email" id="email" name="email" required placeholder="Enter your email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password:</label>
                <input asp-for="Password" type="password" id="password" name="password" required placeholder="Enter your password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <p>Don't have an account? <a asp-controller="Account" asp-action="Register">Register here</a>.</p>
            </div>
        </form>

            </div>
        </div>
    </div>
</section>


    @* 
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
